In [1]:
import os
import pandas as pd

In [9]:
in_csv = r"/media/ross/ssd/00_data/20191205_HI_2015_coastalimagery_dl/annotations/ALL_final_annotations_20191214.csv"
out_dir = r"/media/ross/ssd/00_data/20191205_HI_2015_coastalimagery_dl/annotations"

In [3]:
df = pd.read_csv(in_csv)

In [4]:
df

,filename,xmin,ymin,xmax,ymax,px_xmin,px_ymin,px_xmax,px_ymax,label_string,label_char,label_int
0,hawaii_1_10158_12_85,281130.173489,2.188318e+06,281132.173489,2.188320e+06,390,295,491,395,other,O,10
1,hawaii_1_10158_10_86,281119.905495,2.188312e+06,281120.905495,2.188313e+06,384,372,434,422,metal,M,4
2,hawaii_1_10158_10_87,281117.121801,2.188308e+06,281118.121801,2.188309e+06,243,352,294,402,other,O,10
3,hawaii_1_10158_12_87,281127.708464,2.188308e+06,281128.708464,2.188309e+06,266,353,316,403,plastic,P,6
4,hawaii_1_10438_18_50,281061.619813,2.189540e+06,281063.619813,2.189542e+06,215,366,316,466,tire,T,7
...,...,...,...,...,...,...,...,...,...,...,...,...
20937,oahu_3_7149_17_54,606953.106605,2.400850e+06,606957.106605,2.400854e+06,130,273,328,474,processed wood,W,8
20938,oahu_3_7149_23_59,606987.242274,2.400829e+06,606988.242274,2.400830e+06,282,221,331,271,cloth,C,1
20939,oahu_3_7149_27_66,607010.990835,2.400789e+06,607011.990835,2.400790e+06,432,431,482,481,buoy,B,0
20940,oahu_3_7149_32_72,607033.218823,2.400760e+06,607034.218823,2.400761e+06,251,351,301,401,plastic,P,6
20941,oahu_3_7149_35_74,607048.813797,2.400748e+06,607049.813797,2.400749e+06,255,424,304,474,plastic,P,6

In [5]:
df['island'] = df['filename'].str.split('_', n = 1, expand = True)[0]

In [6]:
df

,filename,xmin,ymin,xmax,ymax,px_xmin,px_ymin,px_xmax,px_ymax,label_string,label_char,label_int,island
0,hawaii_1_10158_12_85,281130.173489,2.188318e+06,281132.173489,2.188320e+06,390,295,491,395,other,O,10,hawaii
1,hawaii_1_10158_10_86,281119.905495,2.188312e+06,281120.905495,2.188313e+06,384,372,434,422,metal,M,4,hawaii
2,hawaii_1_10158_10_87,281117.121801,2.188308e+06,281118.121801,2.188309e+06,243,352,294,402,other,O,10,hawaii
3,hawaii_1_10158_12_87,281127.708464,2.188308e+06,281128.708464,2.188309e+06,266,353,316,403,plastic,P,6,hawaii
4,hawaii_1_10438_18_50,281061.619813,2.189540e+06,281063.619813,2.189542e+06,215,366,316,466,tire,T,7,hawaii
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20937,oahu_3_7149_17_54,606953.106605,2.400850e+06,606957.106605,2.400854e+06,130,273,328,474,processed wood,W,8,oahu
20938,oahu_3_7149_23_59,606987.242274,2.400829e+06,606988.242274,2.400830e+06,282,221,331,271,cloth,C,1,oahu
20939,oahu_3_7149_27_66,607010.990835,2.400789e+06,607011.990835,2.400790e+06,432,431,482,481,buoy,B,0,oahu
20940,oahu_3_7149_32_72,607033.218823,2.400760e+06,607034.218823,2.400761e+06,251,351,301,401,plastic,P,6,oahu
20941,oahu_3_7149_35_74,607048.813797,2.400748e+06,607049.813797,2.400749e+06,255,424,304,474,plastic,P,6,oahu

In [10]:
for i, x in df.groupby('island'):
    out_path = os.path.join(out_dir, f"{i}_final_annotations.csv")
    x.to_csv(out_path)